html, body {
    margin: 0;
}
body {
color: white;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
color: white;
text-decoration: none;
}

.text-conteudo {
    text-align: justify;
}

table {
    border: 0.5px solid black;
}
table thead {
    color: white;
    background-color: black;
}
table tbody tr:nth-child(even) {
    background-color: #ed8f59;
}

table tbody tr:nth-child(odd) {
    background-color: #b37049;
}

table tfoot {
    color: white;
    background-color: black;
}

strong {
    color: black;
}

.wrapper {
    display: flex;
    margin: 0 auto;
}
.main {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}
.menu {
    width: 15%;
    background-color: #aaa88a;
    padding: 10px 20px 0px;
}
.header {
    background-color: #ed8f59;
    min-height: 150px;
    padding: 20px;
    text-align: center;
}
.content {
    background-color: #dcc0ae;
    min-height: 400px;
    padding: 20px;
}
.footer {
    text-align: center;
    background-color: #b37049;
    min-height: 50px;
}